{
  "openapi": "3.0.0",
  "info": {
    "title": "API Outage",
    "description": "API de Feed / Outage <table><thead><tr><th>Versão</th><th>Elaborado por</th><th>Data</th><th>Alterações</th></tr></thead><tbody><tr><td>1.0.0</td><td>Matheus Sforça</td><td>2021-10-07</td><td>[MCR Atendimento Técnico] Versão Inicial</td></tr></tbody></table>",
    "version": "1;2021-10-07",
    "x-claro-domains": [
      "Customer"
    ]
  },
  "tags": [
    {
      "name": "Service Signal",
      "description": "Service Signal"
    },
    {
      "name": "Feed Outage",
      "description": "Feed Outage"
    }
  ],
  "servers": [
    {
      "url": "https://api-lab.claro.com.br/residential/v1/outage",
      "description": "lab"
    },
    {
      "url": "https://api-homolog.claro.com.br/residential/v1/outage",
      "description": "hml"
    },
    {
      "url": "https://api.claro.com.br/residential/v1/outage",
      "description": "prod"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Service Signal"
        ],
        "summary": "Retorna os outages abertos para o usuário por produto e por sintoma. Backends: Contract Identifier, Network-Topology, Adicionar Contrato Outage",
        "operationId": "getAllServiceSignalUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServiceSignal"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "deprecated": false
      }
    },
    "/feed": {
      "post": {
        "tags": [
          "Feed Outage"
        ],
        "summary": "Insere um novo Feed, relacionando o número de celular com o ticket do Outage. Backends: Contract Identifier, Network-Topology",
        "operationId": "insertFeedUsingPOST",
        "requestBody": {
          "description": "Cria um novo feed",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedOutage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "deprecated": false
      }
    },
    "/feed/{ticket}": {
      "put": {
        "tags": [
          "Feed Outage"
        ],
        "summary": "Atualiza um feed para um novo número de celular com base no ticket do Outage. Backends: Contract Identifier, Network-Topology",
        "operationId": "getFeedUsingPUT",
        "requestBody": {
          "description": "Atualiza um feed",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedOutage"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ticket",
            "in": "path",
            "description": "ticket",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "Feed Outage"
        ],
        "summary": "Verifica os dados de um Feed com base no ticket do Outage, retornando também o número de celular atrelado ao Feed. Backends: Contract Identifier, Network-Topology",
        "operationId": "getFeedUsingGET",
        "parameters": [
          {
            "name": "ticket",
            "in": "path",
            "description": "ticket",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedOutage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Feed Outage"
        ],
        "summary": "Deleta as informações de um feed com base no Ticket do Outage. Backends: Contract-Identifier, Network-Topology",
        "operationId": "deleteFeedUsingDELETE",
        "parameters": [
          {
            "name": "ticket",
            "in": "path",
            "description": "ticket",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-client-key"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Idm Token"
      }
    },
    "schemas": {
      "error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "SELECTED_PRODUCT_NOT_FOUND",
                  "POINT_ID_NOT_FOUND",
                  "OS_CODE_NOT_FOUND",
                  "DISCONNECTED_USER",
                  "VT_ALREADY_OPEN",
                  "OUTAGE_OPEN",
                  "NOT_FOUND"
                ],
                "description": "Código de erro interno da API"
              },
              "message": {
                "type": "string",
                "description": "Mensagem de erro"
              }
            }
          }
        }
      },
      "FeedOutage": {
        "type": "object",
        "properties": {
          "ticket": {
            "type": "string",
            "example": 123456,
            "description": "identificar do outage que será acompanhado"
          },
          "phoneNumber": {
            "type": "string",
            "example": 17981003388,
            "description": "número do telefone que receberá informações sobre o outage"
          }
        },
        "title": "FeedOutage"
      },
      "ServiceSignal": {
        "type": "object",
        "properties": {
          "begin": {
            "type": "string",
            "format": "date-time",
            "description": "início do outage"
          },
          "city": {
            "type": "string",
            "example": 3,
            "description": "código da cidade"
          },
          "defaultMessage": {
            "type": "boolean",
            "description": "prioridade do outage"
          },
          "enableWorkflow": {
            "type": "boolean",
            "description": "habilita o fluxo de auto dianostico"
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "description": "previsão para o fim do outage"
          },
          "node": {
            "type": "string",
            "example": "JP45",
            "description": "identificador do node"
          },
          "outageType": {
            "type": "string",
            "description": "type of outage examples: SEM SINAL, DEGRADAÇÃO, EM ANÁLISE, INTERMITÊNCIA and INFORMATIVO",
            "example": "INFORMATIVO"
          },
          "product": {
            "type": "string",
            "example": "TV",
            "description": "produto que está em outage",
            "enum": [
              "NET VIRTUA",
              "NET TV",
              "NET FONE",
              "CELULAR",
              "SERVICOS_ADICIONAIS",
              "NOW"
            ]
          },
          "propertyId": {
            "type": "string",
            "example": 987564231,
            "description": "property id"
          },
          "showPopupFeed": {
            "type": "string",
            "description": "criar, editar ou não mostrar feed -  NOT_SHOW, SHOW and SHOW_INFORMATION",
            "example": "SHOW_INFORMATION"
          },
          "symptomDescription": {
            "type": "string",
            "description": "descrição do sintoma",
            "example": "Sem sinal total do serviço"
          },
          "symptomText": {
            "type": "string",
            "description": "mensagem amigável",
            "example": "Os seus serviços foram parcialmente desconectados, para continuar aproveitando o máximo do que a Claro pode te oferecer abra o menu “Financeiro” e verifique suas faturas em aberto."
          },
          "symptomType": {
            "type": "integer",
            "format": "int32",
            "example": 2,
            "description": "tipo do sintoma"
          },
          "ticket": {
            "type": "string",
            "example": 7111,
            "description": "identificador do ticket"
          }
        },
        "title": "ServiceSignal"
      }
    },
    "responses": {
      "400": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error"
            }
          }
        }
      },
      "401": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error"
            },
            "example": {
              "error": {
                "code": "UNAUTHORIZED",
                "message": "Unauthorized"
              }
            }
          }
        }
      },
      "403": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error"
            },
            "example": {
              "error": {
                "code": "[SELECTED_PRODUCT_NOT_FOUND, POINT_ID_NOT_FOUND, OS_CODE_NOT_FOUND, DISCONNECTED_USER, VT_ALREADY_OPEN, OUTAGE_OPEN]",
                "message": "string"
              }
            }
          },
          "application": {
            "schema": {
              "$ref": "#/components/schemas/error"
            }
          }
        }
      },
      "404": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error"
            },
            "example": {
              "error": {
                "code": "NOT_FOUND",
                "message": "The result is empty"
              }
            }
          },
          "application": {
            "schema": {
              "$ref": "#/components/schemas/error"
            }
          }
        }
      },
      "500": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error"
            },
            "example": {
              "error": {
                "code": "INTERNAL_SERVER_ERROR",
                "message": "Internal Server Error"
              }
            }
          },
          "application": {
            "schema": {
              "$ref": "#/components/schemas/error"
            }
          }
        }
      },
      "503": {
        "description": "Service unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error"
            },
            "example": {
              "error": {
                "code": "SERVICE_UNAVAILABLE",
                "message": "Service Unavailable"
              }
            }
          },
          "application": {
            "schema": {
              "$ref": "#/components/schemas/error"
            }
          }
        }
      }
    }
  }
}